@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">
        <h1>Add Your Title</h1>
        <h3>Header</h3>
        <p class="card-text">Add stuff here</p>
    </div>
    <div class="card-body">
        <h3>Body</h3>

        <form method="post">
            <div class="form-group">
                <div class="row">
                    <p class="card-text">Add stuff here</p>

                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" />

                    <label asp-for="Age"></label>
                    <input type="number" asp-for="Age" />

                   
                </div>

                <div class="row">
                    <input type="submit" value="Submit" asp-action="Index" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <h3>Result</h3>

        <div class="row">
            <p class="card-text">@Model.Result</p>
        </div>
    </div>
</div>
